<div class="grid grid-cols-2 gap-4">
  <div class="  widget red bg-amber-200 p-4 flex items-center justify-center">
    <div class="icon text-green-500">
      <i class="fas fa-map-marker-alt fa-3x"></i>
  </div>
      <div class="value text-center">
          <div class="top text-lg font-bold">32</div>
          <div class="bottom">Touristic Services</div>
      </div>
  </div>
  <div class="  widget green bg-info p-4 flex items-center justify-center">
    <div class="icon text-red-500">
      <i class="fa fa-users  fa-3x"></i>
  </div>
      <div class="value text-center">
          <div class="top text-lg font-bold">320</div>
          <div class="bottom">participant </div>
      </div>

</div>
